#container {
  background: #bbdefb;
}
header {
  display: flex;
  justify-content: center;
}

header img {
  width: 50px;
  height: 50px;
}

.number-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  width: 550px;
  border-radius: 40px;
}

.lotto-number {
  margin: 0 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto-number.yellow {
  background: rgba(255, 255, 0, 0.349);
}
/* .lotto-number .yello이렇게 공백을 주고 쓰면 하위선택자(자손선택자)로 인식함*/

.lotto-number.blue {
  background: skyblue;
}

.lotto-number.red {
  background: rgba(255, 0, 0, 0.473);
}

.lotto-number.gray {
  background: #ccc;
}
.lotto-number.green {
  background: rgba(0, 128, 0, 0.479);
}

#bttn {
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  background: black;
  color: white;
  border: 1px solid black;
}
