.title-log-in {
  margin-bottom: 8px;
  font-weight: 700;
}

.main-left .sub-title {
  margin-top: 10px;
  margin-bottom: 35px;
}

.main-left .find {
  margin: 2px 0 15px;
  width: 353px;
  display: flex;
  justify-content: space-evenly;
}
.main-left .find li + li {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
