button {
  width: 353px;
  height: 47px;
  margin-top: 27px;
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  background: #000000;
  color: white;
  cursor: pointer;
}

button.btn-input {
  width: 92px;
  height: 33px;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
}

button.btn-gray {
  background: rgb(107, 107, 107);
}
