.footer {
  margin: 0 auto;
  border-top: 1px solid #ddd;
  width: 100vw;
}

.footer-info {
  display: flex;
  align-items: center;
}
.footer .wrapper1 {
  display: flex;
  justify-content: center;
}
.footer-menu {
  width: 1180px;
}
.footer-menu a {
  display: inline-block;
  margin-right: 60px;
  padding: 12px 0;
  font-size: 15px;
}
.footer .wrapper2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
}
.footer-info {
  width: 1180px;
  padding: 40px 0 75px;
}
.footer-info img {
  width: 110px;
  height: 50px;
  margin-bottom: 13px;
}
.footer-info .about {
  margin: 0 0 0 46px;
  flex: 1;
  border-right: 2px solid #ddd;
  font-size: 14px;
}

.footer-info .about p {
  margin-top: 0;
}

.footer-info .contact {
  margin-left: 28px;
}

.footer-info .contact p:first-of-type {
  font-size: 17px;
}
.footer-info .contact span {
  font-size: 14px;
  margin-right: 10px;
}

.footer-info .contact .label {
  display: inline-block;
  font-weight: 600;
  width: 65px;
  height: 20px;
}
