body {
  padding: 0;
  margin: 0;
}

#wrapper {
  min-height: 100vh;
  /* padding: 0;
  margin: 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex-grow: 1; /*1은 yes 라는 뜻*/
  margin: 0 auto;
}
main #google {
  padding-top: 100px;
  text-align: center;
}
main #input {
  padding-top: 30px;
}
main input {
  width: 500px;
  padding-top: 20px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #ccc;
}

ul {
  list-style: none;
}
header {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-left: 20px;
  margin-right: -15px;
}
.header {
  display: flex;
  padding: 0;
}
.header li {
  margin-right: 20px;
}
.header li a {
  color: black;
  text-decoration: none;
}
.header li a:hover:not([id="login"]) {
  text-decoration: underline;
}
.header img {
  width: 15px;
  padding-top: 2px;
}
.header #login {
  background-color: #3d85fa;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px 20px;
  font-size: 13px;
  text-align: center;
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  background-color: rgba(204, 204, 204, 0.237);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  height: 40px;
  color: gray;
  padding: 0 10px;
}
.footer ul {
  padding: 0;
  display: flex;
}
.footer li {
  margin: 0 20px;
}

#input ul {
  display: flex;
}
